@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'Kumbh Sans';
  src: url(/KumbhSans-Bold.ttf);
}
@font-face {
  font-family: 'Kumbh Sans';
  src: url(/KumbhSans-Regular.ttf);
}

